.forgotpassword-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.forgotpassword-left {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
    background-color: #D5B690;
    position: relative;
}

.forgotpassword-bus {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    position: absolute;
    bottom: -10%;
    left: -10%;
}

.forgotpassword-right {
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    background-color: #D9D9D9;
    padding: 40px;
}

.forgotpassword-title {
    margin-top: 130px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #152A38;
}

.forgotpassword-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #152A38;
}

.forgotpassword-form {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 60px;
}

.forgotpassword-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.forgotpassword-input {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: block;
    padding: 10px;
    width: 60%;
    height: 30px;
    font-size: medium;
    border: none;
    background-color: #52575D;
    border-radius: 20px;
    border-bottom: solid 5px #52575D;
}

.forgotpassword-button {
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 60%;
    height: 50px;
    font-size: medium;
    border: none;
    border-radius: 40px;
    background-color: #65647C;
    color: white;
    margin: 0 auto;
}

.forgotpassword-signup-link {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.forgotpassword-link {
    font-family: 'Montserrat', sans-serif;
    color: #65647C;
}

.forgotpassword-input::placeholder {
    color: #C4C4C4;
}