.home-container {
    flex-direction: column;
    font-family: 'Montserrat', 'Inter', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    justify-content: space-between;
}

.home-content {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.home-date {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #152A38;
    white-space: nowrap;
}

.date-icon {
    display: flex;
    align-items: center;
}

.date-icon svg {
    margin-right: 20px;
}

h7{
    font-family: Tahoma, sans-serif;
    font-weight: light;
    font-size: 15px;
    color: #263f50;
}

.home-title {
    font-size: 50px;
    font-weight: bolder;
}

span {
    font-size: 10px;
    text-align: left;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 55px;
    display: flex;
}

.home-subtitle {
    font-size: 20px;
    font-weight: lighter;
}

.terminal-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 50px !important;
    margin: 0 auto;
}

.terminal-table th,
.terminal-table td {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.terminal-table th {
    background-color: #D5B690;
    color: #181414;
}

.terminal-table tbody{
    background-color: white;
    font-weight: lighter;
}

.terminal-table tr:nth-child(1){
    font-weight: bold;
}

.terminal-table tr:nth-child(2),
.terminal-table tr:nth-child(3),
.terminal-table tr:nth-child(4),
.terminal-table tr:nth-child(5){
color: gray;
pointer-events: none;
}