.profile-container {
    flex-direction: column;
    font-family: 'Montserrat', 'Inter', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    justify-content: space-between;


}

.profile-content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.profile-title {
    font-size: 50px;
    font-weight: bolder;
}

.profile-subtitle {
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.profile-submenu-information,
.profile-submenu-account {
    font-size: 20px;
    text-align: center;
    /* Center the text horizontally */
    display: flex;
    align-items: center;
    /* Center the text vertically */
    justify-content: center;
    /* Center the text horizontally */
    margin-top: 20px;
    font-weight: lighter;
    cursor: pointer;

    padding: 10px;
    /* Add padding for better appearance */
}

.span-tab {
    display: flex;
    /* Added flex display to arrange spans horizontally */
}

.profile-submenu-information:hover,
.profile-submenu-account:hover {
    background-color: #52575D;
}

.profile-submenu-information>svg,
.profile-submenu-account>svg {
    margin-right: 30px;
    /* Adjust the margin to add space between the icon and text */
}

.card {
    background-color: #E6D2B9;
    padding: 25px;
    margin-left: 100px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.profile-photo_img{
    max-width: 65%;
    max-height: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-title{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.card-text{
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}