.submenu-container {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    justify-content: space-between;
}

.submenu-content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.submenu-date {
    font-weight: bolder;
}

.submenu-icon {
    display: flex;
}

.submenu-icon svg {
    margin-right: 20px;
}

.submenu-title {
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    white-space: nowrap;
}

.submenu-pagesub {
    font-size: 30px;
    font-weight: bolder;
    color: #65647C;
    text-align: center;
    margin-top: 1px;
}

span {
    font-size: 10px;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    display: flex;
}

.submenu-subtitle {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    font-weight: lighter;
}

.reports-submenu-subtitle {
    font-size: 20px;
    text-align: left;
    margin-top: 60px;
    font-weight: lighter;
}

.submenu-dropdown {
    margin-left: 100px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    position: absolute;
}

.dropdown-item {
    font-size: 15px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    margin: 0 auto;
    width: 250px;
    height: 5000px;
    position: relative;
}

.dropdown,
.dropdown * {
    z-index: 10;
}

.dropdown .dropdown-btn {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #65647C;
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    color: white;

}

.dropdown-content {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    cursor: pointer;
}

.dropdown-content .item {
    padding: 5px;
    cursor: pointer;
}

button {
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0 auto;
}

h2{
    margin-left: auto;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
}

.table-title{
    font-size: 40px;
    margin-top: 65px;
}

.table-subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.passenger-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px !important;
    margin: 0 auto;
}

.weekly-passenger-table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px !important;
    margin: 0 auto;
}

.passenger-table th,
.passenger-table td, .weekly-passenger-table th, .weekly-passenger-table td {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}


.passenger-table th, .weekly-passenger-table {
    background-color: #D5B690;
    color: #181414;

}

.passenger-table, .weekly-passenger-table tbody tr:nth-child(even) {
    background-color: white;
    font-weight: lighter;
}

.passenger-table, .weekly-passenger-table tbody tr:nth-child(odd) {
    background-color: white;
    font-weight: lighter;
}

.driver-button {
    font-family: 'Montserrat', sans-serif;
    width: 150px;    
    height: 30px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #D5B690;
    color: black;
    margin-top: 20px;
    margin-left: 645px;
}