.submenu-container {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    justify-content: space-between;
}

.submenu-content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.submenu-date {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #152A38;
    white-space: nowrap;
}

.date-icon {
    display: flex;
    align-items: center;
}

.date-icon svg {
    margin-right: 20px;
}

small{
    font-family: Tahoma, sans-serif;
    font-weight: light;
    font-size: 15px;
    color: #263f50;
}

.submenu-title {
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    white-space: nowrap;
}

.submenu-pagesub {
    font-size: 30px;
    font-weight: bolder;
    color: #65647C;
    text-align: center;
    margin-top: 1px;
}

span {
    font-size: 10px;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    display: flex;
}

.submenu-subtitle {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    font-weight: lighter;
}

.reports-submenu-subtitle {
    font-size: 20px;
    text-align: left;
    margin-top: 60px;
    font-weight: lighter;
}

.submenu-dropdown {
    margin-left: 100px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    position: absolute;
}

.dropdown-item {
    font-size: 15px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item-reports {
    font-size: 15px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    align-items: center;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

.dropdown-item:hover {
    background: #acabc7;
    transition: all 0.2s;
}

.dropdown {
    margin: 0 auto;
    width: 250px;
    height: 5000px;
    position: relative;
}

.dropdown,
.dropdown * {
    z-index: 10;
}

.dropdown .dropdown-btn {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #65647C;
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    color: white;

}

.dropdown-content {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    cursor: pointer;
}

.dropdown-content .item {
    padding: 5px;
    cursor: pointer;
}

button {
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0 auto;
}

h2{
    margin-left: auto;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
}

.table-title{
    font-size: 40px;
    margin-top: 65px;
    margin: 0 auto;
    margin-top: 75px !important;
}

.table-subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    margin: 0 auto;
}

/*Unit Table*/
.unit-table {
    border-collapse: collapse;
    margin-top: 20px !important;
    margin: 0 auto;
}

.unit-table td {
    height: 18px;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.unit-table th {
    width: 80px;
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #D5B690;
    color: #181414;
}

/* Reports Table */
.reports-table {
    border-collapse: collapse;
    margin-top: 20px !important;
    margin: 0 auto;
}

.reports-table td {
    height: 18px;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.reports-table th {
    width: 110px;
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #D5B690;
    color: #181414;
}

/* Weekly Table */
.weekly-table {
    border-collapse: collapse;
    margin-top: 20px !important;
    margin: 0 auto;
}

.weekly-table td {
    height: 18px;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.weekly-table th {
    width: 85px;
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #D5B690;
    color: #181414;
}

/*Combinations of Table*/
.reports-table tr:nth-child(1), .weekly-table tr:nth-child(1){
    font-weight: bold;
}

.unit-table tr:nth-child(1),.unit-table tr:nth-child(2),.reports-table tr:nth-child(2), .weekly-table tr:nth-child(2), 
.unit-table tr:nth-child(3),.reports-table tr:nth-child(3), .weekly-table tr:nth-child(3),
.unit-table tr:nth-child(4),.reports-table tr:nth-child(4), .weekly-table tr:nth-child(4),
.unit-table tr:nth-child(5),.reports-table tr:nth-child(5), .weekly-table tr:nth-child(5){
    color: gray;
    pointer-events: none;
}

.scrollable-table {
    max-height: 300px;
    overflow: auto;
}

.scrollable-table::-webkit-scrollbar {
    display: none;
}

.busdriver-table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px !important;
    margin: 0 auto;
}

.busdriver-table button{
    font-size: 13px;
    width: fit-content;
    padding: 5px;
    border-radius: 15%;
    border: hidden;
    background-color: transparent;
    cursor: pointer;    
}

.reports-table th,
.reports-table td, .weekly-table th, .weekly-table td, .busdriver-table th, .busdriver-table td {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}


.reports-table th, .weekly-table th, .busdriver-table th{
    background-color: #D5B690;
    color: #181414;
    position: sticky;
    top: 0;
    z-index: 1;
}

.reports-table, .weekly-table, .busdriver-table tbody tr:nth-child(even) {
    background-color: white;
    font-weight: lighter;
}

.unit-table, .reports-table, .weekly-table, .busdriver-table tbody tr:nth-child(odd) {
    background-color: white;
    font-weight: lighter;
}

.driver-button {
    font-family: 'Montserrat', sans-serif;
    width: 150px;    
    height: 30px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #D5B690;
    color: black;
    margin-top: 20px;
    margin-left: center;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.modal {
    background: #f0ddc7;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 30px;
    width: 350px;
    height: max-content;
    text-align: center;
}

h3{
    margin-left: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: 30px;
    font-weight: bold;
    color: #1f2123;
}

.modal input {
    width: 80%;
    padding: 8px;
    margin-bottom: 5px;
    border-style: hidden;
    border-radius: 5px;
}

.modal-buttons {
    margin-top: 20px;
    
}

.modal-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    width: fit-content;
}

.modal-buttons button:nth-child(1) {
    background-color: #52575D;
    color: white;
    border: none;
    
}

.modal-buttons button:nth-child(2) {
    background-color: #d5564d;
    color: white;
    border: none;
    margin-top: 20px;
}

.destination-dropdown {
    width: 84%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    border-style: hidden;
    border-radius: 5px;
}

.destination-dropdown option {
    text-align: center; 
}

.edit-input{
    font-size: 14px;
    width: 100px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

