.subpages-container {
    flex-direction: column;
    font-family: 'Montserrat', 'Inter', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    justify-content: space-between;
}

.subpages-content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.subpages-date {
    font-weight: bolder;
}

.subpages-icon {
    display: flex;
    align-items: center;
}

.subpages-icon svg {
    margin-right: 20px;
}

.subpages-title {
    font-size: 50px;
    font-weight: bolder;
}