.subpages-container {
    flex-direction: column;
    font-family: 'Montserrat', 'Inter', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    position: relative;
}

.subpages-content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.subpages-date {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #152A38;
    white-space: nowrap;
}

.date-icon {
    display: flex;
    align-items: center;
}

.date-icon svg {
    margin-right: 20px;
}

h7{
    font-family: Tahoma, sans-serif;
    font-weight: light;
    font-size: 15px;
    color: #263f50;
}



.subpages-title {
    font-size: 50px;
    font-weight: bolder;
}

/* Subpages for Profile Page */

.profile-submenu-container{
    position: relative;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding-left: 45%;
}

.info-title {
    font-family: 'Montserrat', sans-serif;  
    font-size: 30px;
    font-weight: light;
}

.hrStyle {
    background-color: black;
    height: 1px;
    width: 100%;
}

.profile-submenu-container label {
    font-weight: lighter;
    font-size: 20px;
}

.rounded-input{
    width: 43%;
}

.address-rounded-input{
    width: 93%;
}

.edit-profile-button {
    font-family: 'Montserrat', sans-serif;
    width: 70px;    
    height: 30px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #D5B690;
    color: black;
    margin-top: 25px;
    margin-left: 0 auto;
    cursor: pointer;
}

/* For Modal Configurations */

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.subpages-modal {
    background: #f0ddc7;
    margin-bottom: 30px;
    border-radius: 30px;
    padding-bottom: 15px;
    width: max-content;
    height: fit-content;
    text-align: center;  
}

h5{
    margin-left: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: 25px;
    color: #1f2123;
}

.subpages-modal input {
    width: 70%;
    padding: 10px;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
    border-style: hidden;
    border-radius: 5px;
}

.modal-buttons {
    margin-top: 20px;
}

.subpages-modal-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    width: fit-content;
}

.save-button {
    background-color: #52575D;
    color: white;
    border: none;  
}

.cancel-button {
    background-color: #d5564d;
    color: white;
    border: none;
    margin-top: 15px;
}

.warning-photo_img{
    max-width: 25%;
    max-height: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

