.subpages-container {
    flex-direction: column;
    font-family: 'Montserrat', 'Inter', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    position: relative;
}

.subpages-content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.subpages-date {
    font-weight: bolder;
}

.subpages-icon {
    display: flex;
    align-items: center;
}

.subpages-icon svg {
    margin-right: 20px;
}

.subpages-title {
    font-size: 50px;
    font-weight: bolder;
}

/* Subpages for Profile Page */

.profile-submenu-container{
    position: absolute;
    z-index: 1; 
    align-items: center;
    padding-left: 33%;
}

.info-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: light;
}

.profile-submenu-container label {
    font-weight: lighter;
    font-size: 20px;
}

.name-rounded-input{
    width: max-content;
}

.details-rounded-input{
    width: 65%;
}

.contact-rounded-input{
    width: 35%;
}
.name-rounded-input, .details-rounded-input, .contact-rounded-input{
    font-size: 15px;
    border-radius: 5px;
    border: hidden;
    padding: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
}

.edit-profile-button {
    font-family: 'Montserrat', sans-serif;
    width: 70px;    
    height: 30px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #D5B690;
    color: black;
    margin-top: 20px;
    margin-left: center;
    cursor: pointer;
}