.webcam-container {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    padding-right: 50px;
    justify-content: space-between;
}

.webcam-content {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.webcam-date {
    font-weight: bolder;
}

.webcam-icon {
    display: flex;
    align-items: center;
}

.webcam-icon svg {
    margin-right: 20px;
}

.webcam-title {
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    white-space: nowrap;
}

.webcam-pagesub {
    font-size: 30px;
    font-weight: bolder;
    color: #65647C;
    text-align: center;
    margin-top: 1px;
}

span {
    font-size: 10px;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    display: flex;
}

.webcam-subtitle {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    font-weight: lighter;
}

.bus-photo_img{
    display: flex;
    position: fixed;
    width: 300px;
    height: 350px;
    margin-top: 60px;
    margin-left: 200px;
}

.terminal-photo_img{
    display: flex;
    position: fixed;
    width: 300px;
    height: 350px;
    margin-top: 60px;
    margin-left: 500px;
    padding-left: 50px;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: absolute;
    z-index: 10;
  } 

.bus-button {
    font-family: 'Montserrat', sans-serif;
    width: 250px;    
    height: 40px;
    font-size: medium;
    border: none;
    border-radius: 40px;
    background-color: #65647C;
    color: white;
    margin-top: 380px;
    margin-left: 225px;
    cursor: pointer;
}

.terminal-button {
    font-family: 'Montserrat', sans-serif;
    width: 250px;    
    height: 40px;
    font-size: medium;
    border: none;
    border-radius: 40px;
    background-color: #65647C;
    color: white;
    margin-top: 380px;
    margin-left: 85px;
    cursor: pointer;
}
